@mixin btn {
    width: fit-content;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    padding: 20px 32px;
    border-radius: 8px;
    letter-spacing: .8px;
    text-align: center;

    &.red {
        background-color: $red;
        color: $white;

        &:hover {
            background-color: #d32c38;
        }

        &:active {
            transform: scale(.96);
            background-color: #d32c38;
        }
    }
}