$white: #fff;
$purple-white: #ECF0FF;
$green1: #7CC954;
$green2: #43B748;
$purple: #6F7DFF;
$purple2: #606de4;
$red: #EF3340;
$red2: #FF1C44;
$gray2: #676F8F;
$gray3: #A3ABCC;
$gray4: #C5CBE0;
$gray5: #E4E8F7;
$gray7: #F7F8FC;
$gray-title: #494F66;