@import './styles/fonts';
@import './styles/colors';
@import './styles/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-lato;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
  
li {
  list-style: none;
}
  
body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Flexbox
.fx {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-e {
    justify-content: end;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-b {
    align-items: baseline;
  }

  &-ai-fs {
    align-items: flex-start;
  }

  &-ai-fe {
    align-items: flex-end;
  }

  &-ai-s {
    align-items: stretch;
  }

  &-jc-fs {
    justify-content: flex-start;
  }

  &-jc-r {
    justify-content: right;
  }

  &-fw-w {
    flex-wrap: wrap;
  }

  &-fd-c {
    flex-direction: column
  }

  &-fd-rr {
    flex-direction: row-reverse;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

button,
.button {
  cursor: pointer;
  outline: none;
  border-style: none;
  background: none;
}

select,
textarea,
input {
  border-style: none;
  background: none;
  outline: none;
  appearance: none;
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(small) {
      display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
      display: none !important;
  }
}

// Grid layout - column
.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1184px;
  z-index: 10;
}

// Flex Min Max - Indica la suma asegurada
.boxMinMaxText {
  display: flex;
  margin: 0 -8px;

  .title {
    padding: 0 8px;
    letter-spacing: .6px;

    &:nth-child(1) {
      border-right: 1px solid $gray5;
    }
  }
}

// Box Min Max - Precio
.boxMinMax {
  width: 160px;
  min-width: 160px;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 0 0 1px $gray4 inset;
  @include flex-center;
  gap: 8px;

  &--btn {
    width: 16px;
    min-width: 16px;
    height: 16px
  }

  &--input {
    @include flex-center;
    color: $gray-title;
    padding: 0 6px;

    .doller,
    input {
      color: inherit;
      font-size: 16px;
      line-height: 24px;
    }

    input {
      padding-left: 3px;
      width: 100%;
      text-align: center;
    }
  }
}

// Check details - El precio incluye
.checkDetails {
  display: flex;
  gap: 19px;

  &--icon {
    width: 14px;
    min-width: 14px;
    color: $green2;

    .i {
      font-size: 14px;
    }
  }
}

// Line
.line {
  width: 100%;
  height: 1px;
  background-color: $gray5;
}

// CircleBox
.steps {
  width: fit-content;

  &__flex {
    display: flex;
    align-items: center;
    gap: 16px;

    .title {
      letter-spacing: .2px;
    }
  }

  &--line {
    position: relative;
    width: 24px;
    min-width: 24px;
    height: 44px;

    .border {
      position: absolute;
      inset: 0;
      width: 1px;
      margin: auto;
      height: 100%;
      border-left: 2px dashed $gray5;
    }
  }
}

.ellipse {
  position: relative;
  box-shadow: 0 0 0 1px $gray4 inset;
  color: $gray4;
  border-radius: 50%;
  width: 24px;
  min-width: 24px;
  height: 24px;

  &.bg-purple {
    background-color: $purple;
    box-shadow: 0 0 0 1px $purple inset;
    color: $white;
  }

  &.bg-red3 {
    box-shadow: 0 0 0 1px $red3 inset;
    color: $red3;
  }

  &.gray6 {
    box-shadow: 0 0 0 1px $gray6 inset;
    color: $gray6;
  }

  &--text {
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    background-color: inherit;
    font-size: 12px;
    letter-spacing: .6px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    @include flex-center;
    justify-content: center;
  }

  &--icon {
    position: absolute;
    inset: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: inherit;
    font-size: 10px;
  }
}

// Checkbox, Radio
.check__label {
  input {
    display: none;

    &:checked + .check__label--box {
      &.green {
        background-color: $green2;
      }
    }
  }

  &--box {
    position: relative;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;

    .i {
      position: absolute;
      inset: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.green {
      box-shadow: 0 0 0 1px $green2 inset;
    }
  }
}

// Rectangle Placa
.boxPlaca {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(163, 171, 204, .12);
  background-color: $white;
  padding: 44px 96px 36px 24px;
  border-radius: 12px;
  height: 100%;
  min-height: 148px;

  &--avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 94px;
  }

  @include breakpoint-up(medium) {
    box-shadow: initial;
    padding: 40px 160px 56px 32px;
    border: 3px solid $gray6;
    min-height: 0;

    &--avatar {
      right: 20px;
      width: initial;
    } 
  }
}

// Barra - PASO 2 DE 2
.line-bar {
  width: 100%;
  height: 6px;
  border-radius: 42px;

  &.purple {
    background-color: $purple;
  }
}

// Input
.input {
  box-shadow: 0 0 0 1px $gray4 inset;
  padding: 16px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $gray-title;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $gray3;
  }

  &:focus {
    box-shadow: 0 0 0 1px $gray-title inset;
  }
}

.input__select {
  width: 100%;
  display: flex;

  &--select,
  &--input {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    height: 56px;
    color: $gray-title;
  }

  &--select {
    position: relative;
    @include flex-center;
    width: fit-content;
    border: 1px solid $gray4;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    letter-spacing: .2px;
    gap: 11.8px;

    select {
      height: 100%;
      padding: 15px 40.28px 15px 16px;
      cursor: pointer;
      font-size: inherit;
      color: inherit;
      z-index: 1;
    }

    .i {
      position: absolute;
      top: 0;
      right: 16px;
      bottom: 0;
      margin: auto;
      color: $red;
    }
  }

  &--input {
    width: 100%;
    border: 1px solid $gray4;
    padding: 16px;
    border-radius: 0 4px 4px 0;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }

    &::placeholder {
      color: $gray3;
    }

    &:focus {
      border: 1px solid $gray-title;
    }
  }
}

// Texts
.title {
  &.bold-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }

  &.bold-10 {
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
  }

  &.reg-40 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }

  &.reg-36 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
  }

  &.reg-28 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
  }

  &.reg-20 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }

  &.reg-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &.reg-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  // Transform
  .capitalize,
  &.capitalize {
    text-transform: capitalize;
  }

  &.gray-1,
  .gray-1 {
    color: $gray-title;
  }

  &.gray-2,
  .gray-2 {
    color: $gray2;
  }

  &.gray-3,
  .gray-3 {
    color: $gray3;
  }
  
  .red {
    color: $red2;
  }
}

.paragraph {
  color: $gray2;

  &.f-reboto {
    font-family: $font-reboto;
  }

  // Size
  &.lig-12 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
  }
  
  &.lig-16 {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
  }

  &.reg-12 {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
  }

  &.reg-14 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }

  &.reg-16 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  &.bold-12 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
  }

  // Transform
  .uppercase {
    text-transform: uppercase;
  }

  // Colors
  &.gray1,
  .gray1 {
    color: $gray-title;
  }

  &.gray3 {
    color: $gray3;
  }

  // Hover
  &.gray2-hover {
    &:hover {
      color: $gray-title;
    }
  }

  &.purple-hover {
    color: $purple;

    &:hover {
      color: $purple2;
    }
  }
}
